a.bouton {
    padding: 10px 30px; 
    background: blue; 
    color: black; 
    float: left;
    margin: 2px;
    }
.bouton:hover {
    background: red; 
    float:left;
    margin:2px;
    }

.image {
    width: 100%;
    max height : 200px;
}

.boutonmenuprincipal {
    background-color: #e83737;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    font-size: 30px;
    }
    .boutonmenuprincipal:hover {
    background-color: #ff4444;
    }
    .dropdown {
    position: relative;
    display: inline-block;
    }
    .dropdown-child {
    display: none;
    background-color: #f28c8c;
    min-width: 50px;
    }
    .dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    }
    .dropdown:hover .dropdown-child {
    display: block;
    }