a.bouton {
    padding: 10px 30px; 
    background: blue; 
    color: black; 
    float: left;
    margin: 2px;
    }
.bouton:hover {
    background: red; 
    float:left;
    margin:2px;
    }

.image {
    width: 100%;
    max height : 200px;
}

nav li{
    list-style-type: none;
}

.submenu{
    display: none
}

nav{
    padding: 10px 30px;
    background: blue;
    color: black;
    float: left;
    margin: 2px;
}

nav > ul > li{
    float: left;
    position: relative;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a{
    padding: 10px 30px;
}

